.menu .app-brand.style {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.style svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.style {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}
