<footer class="content-footer footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        Copyright © 2024
        <a href="." class="link-secondary">Rem Comp</a>.
        All rights reserved.
      </div>
      <div class="d-none d-lg-inline-block">
        <a href="https://chat.whatsapp.com/Her0smu50YlGkBCwQaJS8L" target="_blank" class="link-secondary"
          rel="noopener">

          <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572">
            </path>
          </svg>
          Rem Forum Group
        </a>
      </div>
    </div>
  </footer>