<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand style">
      <a href="/" class="app-brand-link">
        <span class="app-brand-text style menu-text fw-bold ms-2">RemCp.</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Redeem -->
      <li class="menu-item <% if (pageActive === 'redeem') { %> <%= 'active' %> <% } %>">
        <a href="/" class="menu-link">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Basic">Redeem Code</div>
        </a>
      </li>

      <!-- Create Redeem -->
      <li class="menu-item <% if (pageActive === 'cr') { %> <%= 'active' %> <% } %>">
        <a href="/cr" class="menu-link">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Basic">Create Redeem</div>
        </a>
      </li>

      <% if(isAdmin) { %>
        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Admin</span>
        </li>

        <!-- Inspect Redeem -->
        <li class="menu-item <% if (pageActive === 'inspect') { %> <%= 'active' %> <% } %>">
          <a href="/inspect" class="menu-link">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Basic">Inspect Redeem</div>
          </a>
        </li>
      <% } %>
    </ul>
  </aside>